<div style="margin: 50px;" *ngIf="flag">
    <p>First Name : {{firstName}}</p>
    <p>Last Name : {{lastName}}</p>
    <p>Phone No. : {{phone}}</p>
    <p>Email : {{email}}</p>
    <button style="Margin: 10px" class="btn btn-hover" (click)=formEdit()>Edit</button>
</div>


<div style="margin: 50px;" *ngIf="!flag">
    <form [formGroup]="valForm" role="form" novalidate="" (submit)="submitForm($event,valForm.value)">
        <div class="form-group">
            <div>
                <label style="padding-right:10px">First Name</label>
                <input type="firstName" name="firstName"
                placeholder="Enter First Name" formControlName="firstName" required="" >
            </div>
            <div class="text-danger"
            *ngIf="valForm.controls['firstName'].hasError('required') && (valForm.controls['firstName'].dirty || valForm.controls['firstName'].touched)">
            This field is required</div>
            
        </div>
        <div class="form-group">
            <div >
                <label style="padding-right: 10px">Last Name</label>
    
                <input  type="lastName" name="lastName" placeholder="Enter Name"
                    autocomplete="off" formControlName="lastName" required="" />
    
            </div>
            <div class="text-danger"
                *ngIf="valForm.controls['lastName'].hasError('required') && (valForm.controls['lastName'].dirty || valForm.controls['lastName'].touched)">
                This field is required</div>
        </div>
        <div class="form-group">
            <div >
                <label style="padding-right: 10px">Email</label>
    
                <input  type="email" name="account_email" placeholder="Enter Email"
                    autocomplete="off" formControlName="email" required=""  disabled/>
    
            </div>
            <div class="text-danger"
                *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                This field is required</div>
            <div class="text-danger"
                *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                This field must be a valid email address</div>
        </div>
    
        <div class="form-group">
            <div >
                <label style="padding-right: 10px">Phone</label>
    
                <input  placeholder="Enter Contact Number" type="phone"
                    autocomplete="off" formControlName="phone" required="" />
    
            </div>
            <div class="text-danger"
                *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">
                This field is required</div>
        </div>
    
    
    
        <div>
            <button class="btn btn-hover" type="submit">
                Save
            </button>
        </div>

    </form>
</div>